# Ignore Windows system files
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Ignore AppData and Chrome/Browser junk
AppData/
**/Local/Google/Chrome/

# Ignore PowerShell / VS Code clutter
.vscode/
*.log
*.tmp